@model IEnumerable<HealthDataApp.Models.Alert>

@{
    ViewData["Title"] = "Alerts";
}

<h1>Alerts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlertType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlertDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlertType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlertDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlertId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlertId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlertId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
